/* This style applies to the whole "body", unless overridden */
body {
    margin: auto;
    width: 100%;
    border: 10px solid red;
    padding: 10px;
}

/* This style applies to any element that has the class="center" specified */
.center{
    margin: auto;
    text-align:center;
}

.team-image{
    width:33%;
}